.lblb-graph-asset * {
  fill: transparent;
}

.lblb-graph-asset text {
  fill: #212121;
}

.lblb-graph__title {
  font-family: 'Libe-Sans-Semicondensed';
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: .05rem;
}

.lblb-graph__subtitle {
  font-family: 'Georgia';
  font-size: 1rem;
  line-height: 1.5rem;
}

.lblb-graph__source {
  font-family: 'Synthese';
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 400;
}

.lblb-graph-axis__domain line {
  stroke: #212121;
}

.lblb-graph-axis__ticks line {
  stroke: #212121;
}

.lblb-graph-axis__ticks text {
  font-family: 'Synthese';
}
